<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Profile info</title>
  </head>
  <body>
    <div style="display: flex; justify-content: center">
      <ul style="list-style-type: none">
        <li>
          <h1>Profile Information</h1>
        </li>
        <li>
          <table style="align-self: center">
            <tr>
              <td>Name</td>
              <td>{{person.name}}</td>
            </tr>
            <tr>
              <td>Age</td>
              <td>{{person.age}}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{person.address}}</td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </body>
</html>
